@import '@/app/styles';

.page {
  padding: 40px 0px;
  @include adaptiveValue('padding-top', 40, 20);
  @include adaptiveValue('padding-bottom', 40, 20);

  &__container {
    max-width: 835px !important;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    @include adaptiveValue('gap', 35, 20);
  }

  &__title {
    font-size: 32px;
    @include adaptiveValue('font-size', 32, 22);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    @include adaptiveValue('gap', 25, 20);
  }
}

.form {
  &__row {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    @include adaptiveValue('gap', 35, 20);

    div {
      width: 100%;
    }

    @media (max-width: $mobileSmall) {
      flex-direction: column;

      input {
        max-width: 100% !important;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: 20px;

    input {
      max-width: 190px;
    }

    @media (max-width: $tablet) {
      flex-direction: column;

      input {
        max-width: 100%;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    @media (max-width: $mobileSmall) {
      flex-direction: column;
      gap: 15px;

      button {
        justify-content: center;
      }
    }
  }
}
