@import '@/app/styles';

.page {
  padding: 40px 0px;
  @include adaptiveValue('padding-top', 40, 20);
  @include adaptiveValue('padding-bottom', 40, 20);

  &__container {
    max-width: 1200px !important;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 32px;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 16px;

    img {
      width: 20px;
      height: 20px;
      object-fit: cover;
    }
  }

  &__order {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__footer {
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }
}

.order {
  &__dishes {
    min-height: 40vh;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 400;
  }

  &__count {
    span {
      font-weight: 700;
    }
  }

  &__sum {
    span {
      font-weight: 700;
      color: #fe5f1e;
    }
  }
}
