@import '@/app/styles';

.bonuses {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include adaptiveValue('gap', 30, 15);

  font-weight: 400;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include adaptiveValue('gap', 15, 10);
  }

  &__title {
    font-size: 22px;
    @include adaptiveValue('font-size', 22, 18);
  }

  &__count {
    font-size: 24px;
    @include adaptiveValue('font-size', 24, 20);
  }

  &__text {
    font-size: 16px;
    @include adaptiveValue('font-size', 16, 14);
  }
}

.info {
  &__inputs {
    margin: 0px 0px 55px 0px;
    @include adaptiveValue('margin-bottom', 55, 25);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @include adaptiveValue('gap', 30, 15);

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;

      > * {
        width: 100%;

        input {
          max-width: 100%;
        }
      }
    }
  }
}

.history {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
