@import '@/app/styles';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 18px;
  @include adaptiveValue('font-size', 18, 15);
  font-weight: 400;
}

.label {
  span {
    position: relative;

    &::after {
      content: '*';
      position: absolute;
      top: -3px;
      right: -7px;

      color: red;
      font-size: 12px;
    }
  }
}

.input {
  max-width: 400px;
  padding: 10px;

  border: 1px solid #000;
  border-radius: 5px;

  &:disabled {
    background-color: transparent;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    color: rgba($color: #000000, $alpha: 0.5);
  }
}
