@import '@/app/styles';

.header {
  padding: 35px 0px;
  @include adaptiveValue('padding-top', 35, 20);
  @include adaptiveValue('padding-bottom', 35, 20);
  box-shadow: 0px 0px 5px 1px rgba(34, 60, 80, 0.2);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  @include adaptiveValue('gap', 10, 5);
  cursor: pointer;

  img {
    width: 40px;
    height: 40px;
    @include adaptiveValue('width', 40, 30);
    @include adaptiveValue('height', 40, 30);
    object-fit: cover;
  }

  &__title {
    font-size: 24px;
    @include adaptiveValue('font-size', 24, 16);
    text-transform: uppercase;
  }

  &__subtitle {
    color: #7b7b7b;
    font-size: 16px;
    @include adaptiveValue('font-size', 16, 11);
    font-weight: 400;
  }
}
