.tabs {
  margin: 25px 0px 35px 0px;
  display: flex;
  gap: 15px;

  border-bottom: 2px solid #ffdf8c;
}

.tab {
  padding: 12px 25px;
  height: 35px;

  background-color: #f3f3f3;
  border-radius: 15px 15px 0 0;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;

  &.active {
    background-color: #ffdf8c;
    font-weight: 700;
  }
}
