@import '@/app/styles';

.page {
  &__body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 120px;
    @include adaptiveValue('font-size', 120, 75);
  }

  &__description {
    max-width: 800px;
    margin: 0px 0px 40px 0px;
    @include adaptiveValue('margin-bottom', 40, 20);

    font-size: 32px;
    @include adaptiveValue('font-size', 32, 22);
    text-align: center;

    span {
      display: inline-block;
      margin: 10px 0px 0px 0px;

      color: rgba($color: #000000, $alpha: 0.7);
      font-size: 24px;
      @include adaptiveValue('font-size', 24, 18);
      font-weight: 400;
    }
  }
}
