.card {
  padding: 50px 70px;
  display: flex;
  gap: 80px;

  &__image {
    width: 350px;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    font-size: 24px;
  }

  &__description {
    max-width: 400px;
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 15px;
    font-weight: 400;
  }

  &__extra {
    font-size: 15px;
  }

  &__selectors {
    margin: 0px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.selectors {
  &__item {
    font-size: 15px;
    font-weight: 400;

    background-color: #f6f6f6;
    border-radius: 50px;

    display: flex;
    justify-content: space-between;

    position: relative;
  }

  &__option {
    display: inline-block;
    padding: 15px 0;
    flex: 0 0 50%;
    z-index: 2;

    border-radius: 50px;
    background-color: transparent;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  &__glider {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;

    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ffdf8c;
    box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.1);
    transition: all 0.3s ease 0s;
  }
}

input[type='radio'] {
  display: none;
}

input[id='size30']:checked ~ .selectors__glider,
input[id='doughTraditional']:checked ~ .selectors__glider {
  transform: translateX(0);
}

input[id='size40']:checked ~ .selectors__glider,
input[id='doughThin']:checked ~ .selectors__glider {
  transform: translateX(100%);
}
