@import '@/app/styles';

.pizza {
  width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media (max-width: 923px) {
    flex: 0 0 45%;
    padding: 10px 10px 15px 10px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0.5px rgba(34, 60, 80, 0.2);
  }

  &__image {
    width: 260px;
    height: 260px;
    @include adaptiveValue('width', 260, 140);
    @include adaptiveValue('height', 260, 140);
    position: relative;

    &:hover {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__icon {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    @include adaptiveValue('width', 40, 20);
    @include adaptiveValue('height', 40, 20);
    top: 0;
    right: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 20px;
    @include adaptiveValue('font-size', 20, 15);
  }

  &__controls {
    padding: 7px;

    border-radius: 10px;
    background-color: #f3f3f3;

    display: flex;
    flex-direction: column;
    gap: 7px;

    font-size: 14px;
    @include adaptiveValue('font-size', 14, 12);

    @media (max-width: 923px) {
      width: 100%;
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @include adaptiveValue('gap', 20, 10);

    @media (max-width: 923px) {
      width: 90%;
      justify-content: space-between;
    }
  }

  &__price {
    flex: 1 1 30%;
    text-align: center;
    @include adaptiveValue('font-size', 22, 16);
  }

  button {
    span {
      display: inline-block;
      padding: 3.5px;
      width: 22px;
      height: 22px;

      position: relative;
      top: -1.5px;
      left: -3px;

      color: #fff;
      font-size: 13px;
      background-color: #eb5a1e;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
    }

    @media (hover: hover) {
      &:hover {
        span {
          color: #eb5a1e;
          background-color: #fff;
        }
      }
    }

    @media (hover: none) {
      &:active {
        span {
          color: #eb5a1e;
          background-color: #fff;
        }
      }
    }
  }
}

.controls {
  &__row {
    display: flex;
    gap: 5px;
  }

  &__item {
    display: inline-block;
    width: 130px;
    @include adaptiveValue('width', 130, 100);
    padding: 8px;

    transition: all 0.2s ease 0s;
    border-radius: 5px;

    font-weight: 700;
    text-align: center;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: #fff;
      }
    }

    @media (hover: none) {
      &:active {
        background-color: #fff;
      }
    }

    @media (max-width: 923px) {
      width: 100%;
    }

    &.active {
      background-color: #fff;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.04);
    }
  }
}
