@import '@/app/styles';

.cart {
  width: 50px;
  height: 50px;
  @include adaptiveValue('width', 50, 40);
  @include adaptiveValue('height', 50, 40);
  padding: 6px 6px 6px 4px;

  border: 1px solid #000;
  border-radius: 50%;
  background-color: #ffdf8c;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 15px;
  right: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
